<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Um lugar para todos, crianças, adolescentes, jovens, adultos e idosos. Todas as “tribos” se unem aqui. O propósito como igreja é estar sempre perto de cada membro. Acreditamos ser uma comunidade sem fronteiras, que busca alcançar e conectar pessoas. Tudo o que fazemos é para o Senhor que fazemos. Somos muitos. Feitos por todos e para todos. Somos igreja. Somos Lagoinha.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>CRIE | Cristãos Empreendedores</title>

    <!-- Favicon -->
    <link rel="icon" href="/static/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename= '/static/css/font-awesome.min.css') }}">
    <link href="//cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css" rel="stylesheet">

</head>

<body>
      <!-- ##### Search Wrapper Start ##### -->
      <div class="search-wrapper d-flex align-items-center justify-content-center bg-img foo-bg-overlay" style="background-image: url(img/bg-img/bg-2.jpg);">
        <div class="close--icon">
            <i class="fa fa-times"></i>
        </div>
         <!-- Logo -->
         <a href="index.html" class="search-logo"><img src="img/core-img/logopreto.png" alt=""></a>
         <!-- Search Form -->
         <div class="search-form">
             <form action="#" method="get">
                 <input type="search" name="search" id="search" placeholder="Enter Your Keywords">
                 <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
             </form>
         </div>
         <!-- Copwrite Text -->
         <div class="copywrite-text">
             <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
 Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
 <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
         </div>
     </div>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area">
            <!-- Top Header Area -->
                        
            <div class="top-header">
                <div class="container h-100">
                    <div class="row h-100">
                        <div class="col-12 h-100">
                            <div class="top-header-content h-100 d-flex align-items-center justify-content-end">
                                <!-- Next Events Countdown -->
                                <div class="next-events-countdown d-flex align-items-center">
                                    <p>Siga-nos nas Redes sociais</p>
                                    <div>									
                                        <a href="https://www.instagram.com/lagoinhaguarulhos/"><i class="fa fa-instagram"></i>  |   </a>
                                        <a href="https://www.facebook.com/lagoinhaguarulhosoficial"><i class="fa fa-facebook"></i>   |  </a>
                                        <a href="https://www.youtube.com/channel/UCvewjcNGKWFJpsjeXzbUfVw"><i class="fa fa-youtube"></i>      </a>
                                    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Navbar Area -->
            <div class="faith-main-menu">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <!-- Menu -->
                        <nav class="classy-navbar justify-content-between" id="faithNav">

                            <!-- Logo -->
                            <a class="nav-brand" href="index.html"><img src="/static/img/core-img/logopreto.png" alt=""></a>

                            <!-- Navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">

                                <!-- Close Button -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="index.html">Principal</a></li>
                                        <li><a href="igreja.html">A Igreja</a></li>
                                        <li><a href="#">Ministérios</a>
                                            <ul class="dropdown">
                                                <li><a href="kids.html">Kids</a></li>
                                                <li><a href="acaosocial.html">Ação Social</a></li>                                                                                        
                                                <li><a href="louvor.html">Louvor</a></li>                                                                                        
                                                <li><a href="consolidacao.html">Consolidação</a></li>                                                                                        
                                                <li><a href="mulheres.html">Mulheres</a></li>                                                                                        
                                                <li><a href="homens.html">Homens</a></li>                                                                                        
                                                <li><a href="intercessao.html">Intercessão</a></li>                                                                                        
                                                <li><a href="legacy.html">Legacy Jovens</a></li>                                                                                        
                                            </ul>
                                        </li>                                    
                                        <!-- <li><a href="igreja.html">Agenda</a></li> 
                                        <li><a href="igreja.html">Blog</a></li>		-->													
                                        <li><a href="contato.html">Contato</a></li>
                                    </ul>

                                    <!-- Search Button 
                                    <div class="search-btn">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>

                                    <!-- Donate Button -->
                                    <div class="donate-btn">
                                        <a href="contribua">Contribua</a>
                                    </div>

                                </div>
                                <!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        <!-- ##### Header Area End ##### -->
    </br></br>
        <div class="container">
            <table id="minhaTabela">
                <thead>
                <tr>
                    <th>Responsável</th>
                    <th>Empresa</th>
                    <th>Telefone</th>
                    <th>E-mail</th>
                    <th>Instagram</th>
                    <th>Ramo de Atividade</th>                    
                </tr>
                </thead>
                <tbody>                
                    {% for i in range(0,len) %}
                    <tr>
                        <td>{{ registros[i][2] }}</td>                                           
                        <td>{{ registros[i][3] }}</td>   
                        <td> <a href="https://wa.me/55{{ registros[i][5] }}?text=Eu%20tenho%20interesse%20no%20seu%20servico"><img style="width: 35px; height: 35px;align-content: center;" src="/static/img/core-img/whatsapp.png" alt=""></a></td>
                        <td> <a style="color: black; font-size: small;" href="mailto:{{ registros[i][1] }}">{{ registros[i][1] }}</a></td>   
                        <td> <a style="color: black; font-size: small;" href="https://www.instagram.com/{{ registros[i][6] }}">@{{ registros[i][6] }}</a></td>   
                        <td>{{ registros[i][8] }}</td>   
                    </tr>
                    {% endfor %}
                </tbody>
            </table>                  
        </div></br></br>

    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0 bg-img foo-bg-overlay">
            <div class="container">
                <div class="row">

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="d-flex flex-wrap mb-100">
                            <div class="footer-widget">
                                <div class="widget-title">
                                <a href="#"><img src="/static/img/core-img/logobranco.png" alt=""></a> 
                                </div>
                                <div class="footer-social-info">
                                    <a href="https://www.instagram.com/lagoinha.guarulhos/"><i class="fa fa-instagram"></i>     </a>
                                    <a href="https://www.facebook.com/lagoinhaguarulhosoficial"><i class="fa fa-facebook"></i>     </a>
                                    <a href="https://www.youtube.com/channel/UCvewjcNGKWFJpsjeXzbUfVw"><i class="fa fa-youtube"></i>      </a>
                                </div>
                            </div>
                            <div class="copywrite-text">
                                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos os Direitos Reservados | Lagoinha Guarulhos </p> <!-- <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Contatos</h6>
                            </div>

                            <!-- Single contato Area -->
                            <div class="single-contato-area mb-30">
                                <p>Endereço:</p>
                                <span>Av. Antonio de Souza, 779 <br>Jardim Santa Francisca, Guarulhos - SP </span>
                            </div>

                            <!-- Single contato Area -->
                            <div class="single-contato-area mb-30">
                                <p>Telefone:</p>
                                <span>(11) 9.3364-8366 </span>
                            </div>

                            <!-- Single contato Area -->
                            <div class="single-contato-area mb-30">
                                <p>Email:</p>
                                <span>comunicacao@lagoinhaguarulhos.com</span>
                            </div>
                        </div>
                    </div>

                    <!-- Footer Widget Area -->
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Links Rápidos</h6>
                            </div>
                            <nav>
                                <ul class="useful-links">
                                    <li><a href="#">Principal</a></li>
                                    <li><a href="#">A Igreja</a></li>
                                    <li><a href="#">Redes Sociais</a></li>
                                    <li><a href="#">Contatos</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <!-- Footer Widget Area 
                    <div class="col-12 col-sm-6 col-xl-3">
                        <div class="footer-widget mb-100">
                            <div class="widget-title">
                                <h6>Why Choose us?</h6>
                            </div>
                            <p>Fusce nec ante vitae lacus aliquet vulputate. Donec scelerisque accumsan molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sed accumsan neque.</p>
                            <a href="#" class="btn faith-btn mt-70">Sunday Workship: 10:30 AM</a>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->

    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>   
    <script src="//cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>

    <!--<script src="js/jquery/jquery-2.2.4.min.js"></script> -->
    <!-- Popper js -->
    <script src="js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->    
    <script src="js/plugins/plugins.js"></script>
    <script src="js/plugins/audioplayer.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>

    <script>
        $(document).ready(function(){
            $('#minhaTabela').DataTable({
                  "language": {
                      "lengthMenu": "Mostrando _MENU_ registros por página",
                      "zeroRecords": "Nada encontrado",
                      "info": "Mostrando página _PAGE_ de _PAGES_",
                      "infoEmpty": "Nenhum registro disponível",
                      "infoFiltered": "(filtrado de _MAX_ registros no total)"
                  }
              });
        });
    </script>
</body>

</html>